Source: tslib
Section: embedded
Priority: optional
Maintainer: Martin Kepplinger <martink@posteo.de>
Build-Depends: debhelper (>= 9), automake | automaken, autoconf, libtool
Standards-Version: 3.9.3
Homepage: https://github.com/kergoth/tslib
#Vcs-SVN: svn://svn.debian.org/pkg-gpe/trunk/tslib/trunk/
#Vcs-Browser: http://svn.debian.org/viewsvn/pkg-gpe/trunk/tslib/trunk/

Package: libts-1.3-0
Architecture: linux-any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, tsconf
Multi-Arch: same
Description: touch screen library
 Tslib is an abstraction layer for touchscreen panel events, as well as a
 filter stack for the manipulation of those events. Examples of implemented
 filters include jitter smoothing and the calibration transform.

Package: libts-dev
Architecture: linux-any
Section: libdevel
Depends: libts-1.3-0 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: touch screen library, development files
 Tslib is an abstraction layer for touchscreen panel events, as well as a
 filter stack for the manipulation of those events.
 .
 This package contains the static library and header files used in
 development.

Package: libts-bin
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: foreign
Description: touch screen library utilities
 Tslib is an abstraction layer for touchscreen panel events, as well as a
 filter stack for the manipulation of those events.
 .
 This package contains programs like ts_calibrate or ts_uinput that can
 be useful when developing or testing application using touch screens.

Package: libts-1.3-0-dbg
Architecture: linux-any
Section: debug
Priority: extra
Depends: libts-1.3-0 (= ${binary:Version}), libts-bin (= ${binary:Version}), ${misc:Depends}
Description: touch screen library debug symbols
 Tslib is an abstraction layer for touchscreen panel events, as well
 as a filter stack for the manipulation of those events.
 .
 This package contains the debug symbols.

Package: tsconf
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: touch screen library common files
 Tslib is an abstraction layer for touchscreen panel events, as well
 as a filter stack for the manipulation of those events.
 .
 This package contains the common files for the shared
 library.
